//*main .card img {
    display: block;
    width: 100%;
}

main .card-body button {
    display: flex;
    align-items: ;
}*//

@media (min-width: 500px) {
    main .row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 3px;
    }
}

@media (min-width: 660px) {
    main .row {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

h2 {
    display: flex;
    justify-content: center;

}

@media (min-width: 500px) {
    .navigation {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.link p {
    display: flex;
    justify-content:
}

.links img {
    width: 50px;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 3px;
}

main .discount {
    min-height: 300px;
    background-image: url(../img/discount.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-footer {
    display: flex;
    justify-content: space-around;
}

footer .navigation {
    min-height: 400px;
    background-image: url(../img/catsgr.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

footer #terms-link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    background-color: #EAEAEA;
}

footer .discribe {
    width: 50px;
}

main .terms-button a {
    text-decoration: none;
}

main .terms-button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main #mid-button, #midd-button, #bottom-button  {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
}