//*main .card img {
    display: block;
    width: 100%;
}

main .card-body button {
    display: flex;
    align-items: ;
}*//

@media (min-width: 500px) {
    main .row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 3px;
    }
}

@media (min-width: 660px) {
    main .row {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.modal-footer {
    display: flex;
    justify-content: space-around;
}

.card product button .staticButton {
    display: flex;
    justify-content: space-around;
}
